.nav{
    background-color: rgb(255, 255, 255);
    color:rgb(94, 248, 238);
}
.nav img{
    width: 600px;
}
.nav button{
    background-color: rgb(134, 64, 136);
    color: black;
}

.Banner{
    height: 60vh;
    width: 100%;
    background-image: url("L.jfif");
    background-color: rgb(255, 255, 255);
}

.Banner h1{
    color: #000000;
    font-size: 10rem;
}
*{
    margin: 0;
    padding: 0;
}

a {
    color: #f8f8f8;
}

.nav {
    background-color: #1d593a;
    color: #000;
}

.nav img {
    width: 600px;
}

.navbar {
    background-color: rgb(247, 177, 223);
    padding: 15px;
}
  
.nav button {
    background-color: rgb(134, 64, 136);
    color: black;
}

.Banner h1 {
    color: #ffffff;
    font-size: 10rem;
}

.Productos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.Productos .producto {
    overflow: hidden;
    background-color: #8dfae2;
    width: 220px;
    box-shadow: 5px 10px 10px;
    border-radius: 10%;
}

.Productos .producto img {
    width: 100%;
    height: 180px;
}

.Contenido {
    margin: 20px 10px;
}

button {
    background-color: #7c6004;
}

button a {
    padding: 10px 5px;
}

button:hover {
    background-color: #470a42;
}

  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center; /* centrar el menú */
    gap: 40px; /* espacio entre las opciones */
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #1d593a;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #d6336c; /* cambia de color al pasar el mouse */
  }

  .lu {
    text-align: center;
  }
  